 @charset "utf-8";
/* CSS Document */
	/* Color */
:root {
 --body: white;
 --link: dimgrey;
 --link-hover: #F1E35F;
 --nav: #f0f0f0;
 --nav-text: dimgrey;
 --nav-text-hover: black;
 --emne1: #f5994a;
 --emne2: #547dbd;
 --emne3: #66b230;
 --emne4: #e32626;
 --emne5: #F1E35F;
 --footer: #9c9c9c;
 --footer-text: black;
 --boxes-title: #F1E35F;
 --button: #F1E35F;
 --button-hover: white;
 --main: white;
 --main-nav:;
 --alle-emner: #f0f0f0;
 --wrapper: #f0f0f0;
}

@font-face {
	src: url(../fonts/PFDinDisplayPro-Regular_35382.ttf);
	Font-family: DinDisplay;
}
@font-face {
	src: url(../fonts/PFDinDisplayPro-Bold_35373.ttf);
	Font-family: DinDisplayBold;
}
body {
	font-size: 1em;
	font-family: DinDisplay;
	background-color: var(--body);
}

/* wrapper */
.wrapper {                                 
	width: 100%;
	margin: auto;
	align-items: center;
	padding: 0em;
}

/* links */
a {
	text-decoration: none;
	color: var(--link);
}
a:hover {
	color: var(--link-hover);
}
/* h1 overskrifter */
h1 {
	font-size: 1.5em;
}

/* knapper */
.button {
	background-color: var(--button);
	padding: 1em;
	color: black;
	border-radius: 20px;
}
.button:hover {
	background-color: var(--button-hover);
}
img {
	max-width: 100%;
}

/* lokal nav på undersider */
nav {
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	background-color: white;
}
/* viser kun mobilversion af top nav */
#nav-desktop {
	display: none;
}
#nav-mobile {
	display: flex;
	background-color: var(--body);
	justify-content: center;
}

/* sætter størrelse på top nav ikoner */
#logo-mobile img, #logo-desktop img {
	width: auto;
	height: 100px;
}
#logo-mobile {
	display: flex;
	justify-content: center;
}

/* om-os og nyheder */
.navbutton-nyheder, .navbutton-kontakt {
	margin-top: 1.2em;
	font-size: 2em;
}

/* sætter størrelse på søg ikon */
.navbutton-soeg {
	width: 5em;
}

/* om-os, nyheder og søgefunktion */
.navbutton-nyheder, .navbutton-kontakt, .navbutton-soeg {
	max-width: 4em;
	min-width: 3em;
	padding: 1em;
}

.navbutton-nyheder, .navbutton-kontakt {
	margin-top: -0.1em;
}
/* hovereffekt på top nav ikoner */
.navbutton-nyheder:hover, .navbutton-kontakt:hover, .navbutton-soeg:hover {
	opacity: 0.5;
}

/* call to action billede 1 og 2*/
.cover1 {
	background-image: url(../img/cover.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 50vh;
	background-position: top left;
}
.cover2 {
	background-image: url(../img/notebook.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 50vh;
	background-position: center left;
	margin-top: 1em;
}

/* call to action tekst placering */
.cover1 article {
	margin-left: 50%;
	padding-top: 2em;
	padding-right: 0.5em;
}
.cover2 article {
	margin-left: 50%;
	padding-top: 2em;
	padding-right: 0.5em;
}

/* call to action overskrifter */
.velkommen h1, .velkommen h3 {
	text-align: center;
}

/* velkomst boks/artikel på forsiden */
.velkommen {
	padding: 2em;
	border-style: solid;
	border-color: var(--nav);
	border-width: 1em;
	margin-top: 1em;
}

/* om-os side */
.om-os {
	display: grid;
	grid-template-columns: 1fr;
}
/*knapper til at vise/gemme undermenuer*/
#mobil-menu-emne1, #mobil-menu-emne2, #mobil-menu-emne3, #mobil-menu-emne4, #mobil-menu-emne5 {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	cursor: pointer;
}
#mobil-menu-emne1 {
	background-color: var(--emne1);
}
#mobil-menu-emne2 {
	background-color: var(--emne2);
}
#mobil-menu-emne3 {
	background-color: var(--emne3);
}
#mobil-menu-emne4 {
	background-color: var(--emne4);
}
#mobil-menu-emne5 {
	background-color: var(--emne5);
}
#burger {
	height: auto;
	width: 40px;
	padding-right: 1em;
	margin-top: 1em;
}
#emner h3 {
	margin-top: -1.8em;
	margin-left: 3em;
	color: black;
}
#forside h3 {
	margin-top: 1em;
	color: black;
}
#forside h3:hover {
	color: white;
}
#emner h3:hover {
	color: white;
}
/*boxes container - de fire hovedemner*/
.boxes, .boxes-index {
	display: grid;
	grid-template-columns: auto;
}

/* skjuler de fire hovedemner ved mobilvisning */
.boxes-emne1, .boxes-emne2, .boxes-emne3, .boxes-emne4, .boxes-emne5 {
	display: none;
}

/* titler på boxes - de fire hovedemner */
.title-emne {
	padding: 1em;
	text-align: center;
	color: black;
	background-color: var(--boxes-title);
	width: auto;
	margin-top: -1.5em;
	border-color: white;
	border-style: solid;
	border-width: 1px;
}

/* boxes farver - de fire hovedemner */
.boxes-emne1 .title-emne {
	background-color: var(--emne1);
}
.boxes-emne2 .title-emne {
	background-color: var(--emne2);
}
.boxes-emne3 .title-emne {
	background-color: var(--emne3);
}
.boxes-emne4 .title-emne {
	background-color: var(--emne4);
}
.boxes-emne5 .title-emne {
	background-color: var(--emne5);
}

/* farve på skriften - ved overemner */
.title-emne:hover, #active {
	color: white;
}

/* brødkrumme */
.broedkrumme-emne1 a, .broedkrumme-emne2 a, .broedkrumme-emne3 a, .broedkrumme-emne4 a, .broedkrumme-emne5 a {
	padding-left: 1em;
	padding-right: 1em;
}
.broedkrumme-emne1, .broedkrumme-emne2, .broedkrumme-emne3, .broedkrumme-emne4, .broedkrumme-emne5 {
	padding: 1em;
	margin-top: -1em;
	display: none;
}

/* brødkrumme - farve på hovereffekter */
.broedkrumme-emne1 a:hover {
	color: var(--emne1);
}
.broedkrumme-emne2 a:hover {
	color: var(--emne2);
}
.broedkrumme-emne3 a:hover {
	color: var(--emne3);
}
.broedkrumme-emne4 a:hover {
	color: var(--emne4);
}
.broedkrumme-emne5 a:hover {
	color: var(--emne5);
}

/* mest søgte */
.mest-soegte {
	background-color: var(--nav);
	padding: 1em;
	margin-top: 1em;
}
.mest-soegte-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-bottom: 1em;
}
.mest-soegte-container a {
	background-color: white;
	padding: 1em;
	border-width: 1px;
	border-style: solid;
	border-color: var(--nav);
	border-radius: 20px;
}

/* hovedsektion - artikel og lokal nav */
.main {
	border-style: solid;
	border-width: 1em;
	border-color: #f0f0f0;
}
.main-nav-emne1 {
	padding-top: 1em;
	color: var(--emne1);
	display: none;
}
.main-nav-emne2 {
	padding-top: 1em;
	color: var(--emne2);
	display: none;
}
.main-nav-emne3 {
	padding-top: 1em;
	color: var(--emne3);
	display: none;
}
.main-nav-emne4 {
	padding-top: 1em;
	color: var(--emne4);
	display: none;
}
.main-nav-emne5 {
	padding-top: 1em;
	color: var(--emne5);
	display: none;
}

/* lokal nav - størrelse på underpunkter*/
.main-nav-emne1 li a,
.main-nav-emne2 li a,
.main-nav-emne3 li a,
.main-nav-emne4 li a,
.main-nav-emne5 li a{
	padding: 0em;
	font-size: 1.2em;
}
/* lokal nav */
.main-nav-emne1 nav, .main-nav-emne2 nav, .main-nav-emne3 nav, .main-nav-emne4 nav, .main-nav-emne5 nav {
	display: flex;
	flex-direction: column;
}

/* skjuler billede under lokal nav ved mobilvisning */
.main-nav-emne1 img, .main-nav-emne2 img, .main-nav-emne3 img, .main-nav-emne4 img, .main-nav-emne5 img {
	display: none;
}

/* farver på hovereffekter */
.main-nav-emne1 nav a:hover {
	color: var(--emne1);
}
.main-nav-emne2 nav a:hover {
	color: var(--emne2);
}
.main-nav-emne3 nav a:hover {
	color: var(--emne3);
}
.main-nav-emne4 nav a:hover {
	color: var(--emne4);
}
.main-nav-emne5 nav a:hover {
	color: var(--emne5);
}

/* hovereffekter på overemner */
.main-nav-emne1 .active:hover, .main-nav-emne2 .active:hover, .main-nav-emne3 .active:hover, .main-nav-emne4 .active:hover, .main-nav-emne5 .active:hover {
	color: black;
}

/* overemner */
.main-nav-emne1 .active {
	color: white;
	font-size: 1.2em;
	background-color: var(--emne1);
	padding: 0.5em;
	border-color: white;
	border-style: solid;
	border-width: 1px;
}
.main-nav-emne2 .active {
	color: white;
	font-size: 1.2em;
	background-color: var(--emne2);
	padding: 0.5em;
	border-color: white;
	border-style: solid;
	border-width: 1px;
}
.main-nav-emne3 .active {
	color: white;
	font-size: 1.2em;
	background-color: var(--emne3);
	padding: 0.5em;
	border-color: white;
	border-style: solid;
	border-width: 1px;
}
.main-nav-emne4 .active {
	color: white;
	font-size: 1.2em;
	background-color: var(--emne4);
	padding: 0.5em;
	border-color: white;
	border-style: solid;
	border-width: 1px;
}
.main-nav-emne5 .active {
	color: white;
	font-size: 1.2em;
	background-color: var(--emne5);
	padding: 0.5em;
	border-color: white;
	border-style: solid;
	border-width: 1px;
}


/* effekt på markeret emne */
#bold {
	Font-family: DinDisplayBold;
}

/* artikel */
.main-article {
	padding: 2em;
	background-color: var(--main);
}

/* kartotek / genveje */
.alle-emner {
	background-color: var(--alle-emner);
	padding: 1em;
	margin-top: 1em;
}
.alle-emner-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 1em;
	grid-row-gap: -1em;
}
.alle-emner-container ul {
	list-style-type: square;
	color: black;
	background-color: white;
	border-radius: 20px;
	padding-right: 2em;
	padding-bottom: 2em;
}

/* farve på hovereffekter - kartotek / genveje */
.alle-emner1 li a:hover {
	color: var(--emne1);
}
.alle-emner2 li a:hover {
	color: var(--emne2);
}
.alle-emner3 li a:hover {
	color: var(--emne3);
}
.alle-emner4 li a:hover {
	color: var(--emne4);
}
.alle-emner5 li a:hover {
	color: var(--emne5);
}

/* footer */
footer {
	background-color: var(--footer);
	color: var(--footer-text);
	display: flex;
	flex-direction: column;
	margin-top: 1em;
	padding: 1em;
	font-size: 1.5em;
}

/* footer - kontaktinfo */
footer article {
	list-style-type: none;
	margin: auto;
	text-align: center;
}

/* footer - some icons */
footer aside {
	height: auto;
	margin-top: 3em;
	margin: auto;
	display: flex;
}

/* størrelse på some icons */
footer aside a img {
	max-width: 4em;
	padding: 0.5em;
}

/* hovereffekt på some icons */
footer aside a img:hover {
	opacity: 0.5;
}

@media (min-width: 600px) {
	
/* kartotek / genveje - sættes i to kolloner */
.alle-emner-container {
	grid-template-columns: 1fr 1fr;
}
.box {
	width: 100%;
}
footer {
	flex-direction: row;
}
/* titles on boxes*/
.title-emne1, .title-emne2, .title-emne3, .title-emne4, .title-emne5 {
	width: auto;
}
}

@media (min-width: 1024px) {
/* nav */
#nav-mobile, #logo-mobile {
	display: none;
}
#nav-desktop {
	display: flex;
	justify-content: flex-end;
}
/* sætter logo til venste, og de andre ikoner til højre */
#logo-desktop {
	flex: 5;
}

/* deaktivere lokal nav ved mobilvisning */
#mobil-menu-emne1, #mobil-menu-emne2, #mobil-menu-emne3, #mobil-menu-emne4, #mobil-menu-emne5 {
	display: none;
}

/* sætter hovedemner i fire kolonner */
.boxes, .boxes-index, .boxes-emne1, .boxes-emne2, .boxes-emne3, .boxes-emne4, .boxes-emne5 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-top: 1em;
	display: grid;
}

.title-emne1, .title-emne2, .title-emne3, .title-emne4, .title-emne5 {
	margin-top: 0em;
}

/* fjerner border på hovedemner */
.title-emne {
	border-width: 0px;
}

/* udvider wrapper */
.wrapper {
	width: 90%;
}

/* kartotek / genveje - sættes i 3 kolonner */
.alle-emner-container {
	grid-template-columns: 1fr 1fr 1fr;
}

/* hovedsektion / artikel - sætter lokal nav til venstre med en bredde på 25em */
.main {
	display: grid;
	grid-template-columns: 25em auto;
	grid-column-gap: 1em;
}
.main-nav-emne1, .main-nav-emne2, .main-nav-emne3, .main-nav-emne4, .main-nav-emne5 {
	grid-column: 1;
	display: block;
}

/* billede under lokal nav */
.main-nav-emne1 img, .main-nav-emne2 img, .main-nav-emne3 img, .main-nav-emne4 img, .main-nav-emne5 img {
	display: block;
	margin-top: 1em;
}

/* hovedsektion / artikel */
.main-article {
	grid-column: 2;
	padding: 2em;
}

/* viser brødkrumme (som er skjult ved mobilvisning) */
.broedkrumme-emne1, .broedkrumme-emne2, .broedkrumme-emne3, .broedkrumme-emne4, .broedkrumme-emne5 {
	display: block;
}
	
	footer {
		font-size: 1em;
	}

}

@media (min-width: 1300px) {
.wrapper {
	width: 80%;
	max-width: 1400px;
}

/* kartotek / genveje - sættes i 4 kolonner */
.alle-emner-container {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
}
